<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">        
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}

            <style>

                .multicolumn {
                    columns: 3 !important;
                    -webkit-columns: 3 !important;
                    -moz-columns: 3 !important;
                    margin-top: 20px;
                }
                .multicolumn li {
                    list-style-type: none;
                    
                }

            </style>
            
        {% endblock %}

        <title>{{ config['PAGE_NAME'] }}</title>
        {% endblock %}
    </head>


    <body>

        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}

            <script>
              window.onload = function () {
                document.getElementById('sex').firstChild.disabled=true;
                document.getElementById('sex').firstChild.hidden=true;
              }
            </script>
            <!-- reCaptcha Integration -->
            <script src='https://www.google.com/recaptcha/api.js' async defer></script>
        

        {% endblock %}
    </body>
</html>
