{% extends "base.html" %}

{% block content %}

    <div class="container position-relative">
        <!-- just some small space before the container starts -->
        <div style="height: 10px;"></div>

        <!-- flashing messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


<div class="card" style="width: 80%; max-width=900px">
    <div class="card-header h3">
        Terminplan Elternsprechtag - Download</h5>
    </div>
    <div class="card-body">
        {% if showform %}
            <h6 class="card-title">Bitte geben Sie hier Ihren Token ein, um ihren Plan herunterzuladen.</h6>

            <form action="{{ url_for('main.check') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        {{ form.token(style="font-size:400%;", class='form-control input-lg') }}
                    </div>
                </div>
<!--
                {{ form.recaptcha }}
-->
                <button class="btn btn-primary" type="submit">Token überprüfen</button>
            </form>
        {% else %}

            <h6 class="card-title">Unter diesem Knopf können Sie ihren persönlichen Stundenplan herunterladen:</h6>

            <a class="btn btn-success" href="{{url_for('main.download')}}?token=asd">Download</a>

        {% endif %}
    </div>
</div>

{% endblock %}
