{% extends "base.html" %}

{% block content %}

    <div class="container position-relative">
        <!-- just some small space before the container starts -->
        <div style="height: 10px;"></div>

        <!-- flashing messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


<div class="card" style="width: 80%; max-width=900px">
    <div class="card-header h3">
        Terminwünsche zum Elternsprechtag</h5>
    </div>
    <div class="card-body">
        {% if showform %}
            <h6 class="card-title">Bitte füllen Sie die folgenden Felder aus und wählen Sie die Lehrkräfte, die Sie zu sprechen wünschen. Besondere Wünsche (Terminpräferenzen, längere Gesprächszeiten) können Sie im Textfeld angeben - wir können allderings nicht in jedem Fall garantieren, dass diese umsetzbar sind.</h6>

            <form action="{{ url_for('main.index') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        {{ form.student_class(class='form-control' + ('' if not showerrors else ' is-invalid' if "student_class" in errors else ' is-valid'), placeholder='Klasse des Kindes') }}
                    </div>
                    <div class="col-md-9 mb-3">
                        {{ form.student_name(class='form-control' + ('' if not showerrors else ' is-invalid' if "student_name" in errors else ' is-valid'), placeholder='Name des Kindes') }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ form.email(class='form-control' + ('' if not showerrors else ' is-invalid' if "email" in errors else ' is-valid'), placeholder='E-Mail') }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.email2(class='form-control' + ('' if not showerrors else ' is-invalid' if "email" in errors else ' is-valid'), placeholder='E-Mail (Wdh.)') }}
                    </div>
        
                </div>
      

                <div class="form-row">
                    <div class="col-md-12 mb-9">
                        {{ form.message(class='form-control' + ('' if not showerrors else ' is-invalid' if "message" in errors else ' is-valid'), placeholder='Ihre Nachricht (optional)') }}
                    </div>
                </div>

                
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ form.requests(class='multicolumn' + ('' if not showerrors else ' is-invalid' if "requests" in errors else ' is-valid'), placeholder='Lehrer') }}
                        </div>
                    </div>
                </div>
<!--
                {{ form.recaptcha }}
-->
                <h6 class="card-title">Mit dem Abschicken der Nachricht geben Sie Ihr Einverständnis, dass Ihre Angaben für die<br/>Planung der Hospitationen sowie zum Mitteilen der Termine verwendet werden dürfen.<br/>Eine darüber hinaus gehende Nutzung der Daten findet in keiner Form statt.</h6>

                <button class="btn btn-primary" type="submit">Gesprächswünsche abschicken</button>
            </form>
        {% else %}

            <h6 class="card-title">Folgende Daten wurden übermittelt:</h6>

            <form>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        {{ form.student_class(class='form-control', disabled=true, readonly=true) }}
                    </div>
                    <div class="col-md-5 mb-3">
                        {{ form.student_name(class='form-control', disabled=true, readonly=true) }}
                    </div>
                    <div class="col-md-5 mb-3">
                        {{ form.email(class='form-control', disabled=true, readonly=true) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        {{ form.message(class='form-control', disabled=true, readonly=true) }}
                    </div>
                </div>
            
                <h6 class="card-title">Bitte notieren Sie sich den folgenden Token für ihren Terminwunsch. Sobald die Pläne fertiggestellt werden, können Sie mit diesem Code Ihren personalisierten Plan abrufen. Darüber werden wir Sie auch per E-Mail informieren (bitte ggf. Spam-Ordner überprüfen).</h6>
                
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        {{ form.token(style="font-size:400%;", class='form-control input-lg', disabled=true, readonly=true) }}
                    </div>
                </div>
            
            
            </form>

            <h6 class="card-title">Sollten Sie einen weiteren Termin vereinbaren wollen, klicken Sie bitte <a href="{{ url_for('main.index') }}">hier</a></h6>

        {% endif %}
    </div>
</div>

{% endblock %}
